  <div class="jumbotron jumbotron-fluid my-0">
  <div class="container">
    <h1 class="display-4">Add Songs to the Queue</h1>
    <p class="lead">Start searching below...</p>
  </div>
  <form class="p-2">
  <div class="form-group d-flex">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Song, Artist...">
      <button class="btn btn-sm btn-dark">GO</button>
  </div>
</form>
</div>